.ints{
    width: 50%;
    float: left;
}

.districts{
    width: 50%;
    float: right;
}

.bg {
    background-image: url("../../assets/images/green-map-of-sri-lanka-isometric-icon-vector-13502537.jpg");
    height : 984px;
    width: 100%;
    background-repeat: no-repeat;
}
