.ints{
    width: 30%;
    float: left;
}

.Map{
    width: 40%;
    float: left;
}

.districts{
    width: 30%;
    float: left;
}

.bg::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 520px) {
    .ints{
        width: 30%;
        margin: 10% 0;
        float: left;
    }

    .Map{
        width: 40%;
        float: left;
    }

    .districts{
        width: 30%;
        float: left;
    }

    .bg::after {
        content: "";
        clear: both;
        display: table;
    }
    
}
