.ints{
    width: 30%;
    float: left;
}

/* .Map{
    display: none;
    width: 40%;
    float: left;
} */

.districts{
    width: 70%;
    float: left;
}

.bg::after {
    display: block;
}

@media (max-width: 519px) {
    .Map{
        display: none;
    }
}

@media (min-width: 520px) {
    .ints{
        width: 25%;
        margin: 10% 0;
        float: left;
    }

    .Map{
        width: 45%;
        float: left;
    }

    .districts{
        width: 30%;
        float: left;
    }

    .bg::after {
        content: "";
        clear: both;
        display: table;
    }
    
}
