
.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.Left{
    display: block;
    flex-flow: row;
    justify-content: center;
    margin: 0 25px;
    float: clear;
}

.Page {
    display: block;
    flex-flow: row;
    margin-bottom: 20px;
    min-height: 70vh;
}

@media (min-width: 520px) {
    .Posts {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    
    .Left{
        width: 25%;
        margin: 0 2px;
        float: left;
        height: auto;
    }
    
    .Right{
        width: 75%;
        float: right;
        box-sizing: border-box;
        min-height: 85vh;
        border-left: 3px solid rgb(65, 65, 65);
    }

    .Page {
        display: flex;
        flex-flow: row;
        margin-bottom: 50px;
        /* background-color: black; */
        /* height: auto; */
    }

}

@media (min-width: 800px) {    
    .Left{
        width: 15%;
    }
    
    .Right{
        width: 85%;
    }
}