
.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: auto;

}

@media (min-width: 500px) {
    .Posts {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 95%;
        margin: auto;
    }
    
    .Left{
        width: 15%;
        float: left;
    }
    
    .Right{
        width: 85%;
        float: right;
        box-sizing: border-box;
        min-height: 85vh;
        border-left: 3px solid rgb(65, 65, 65);
    }
    
}