.FullPost {
    width: 60%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    background-color: rgb(90, 241, 158);
    justify-content: center;
}

.FullPost h1:hover {
    color: #521751;
    cursor: pointer;
}

.Clear h1:hover{
    color: #000000;
    cursor: default;
}

.Page{
    min-height: 83vh;
}

