.Profile {
    display: block;
    flex-flow: row;
    justify-content: center;
}

.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.Title {
    height: 50px;
    text-align: left;
    padding: 0 25px;
}