.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

@media (min-width: 500px) {
    .Input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .Label {
        font-weight: bold;
        /* display: block; */
        width: 25%;
        margin-bottom: 8px;
        text-align: left;
    }
    
    .InputElement {
        outline: none;
        border: 1px solid #ccc;
        background-color: rgb(205, 204, 248);
        font: inherit;
        padding: 6px 10px;
        /* display: block;*/
        width: 75%;
        box-sizing: border-box;
    }
    
    .InputElement:focus {
        outline: none;
        background-color: #ccc;
    }
    
    .Invalid {
        border: 1px solid red;
        background-color: #FDA49A;
    }    
}